---
layout: default
---

<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--center o-grid__col--2-3-m'>
      <article class='c-post'>

        <div class='c-content'>

<h2><i>"Hello!"</i></h2>
<p>
Welcome to my site, where you can explore my art and publications.
<p>

</div>
</article>
</div>
</div>

<div class='o-grid js-grid'>
  {% assign post_image="/images/posts/homepageeasterncopy.jpg" %}
  {% assign post_url="/tag/eastern-art" %}
  {% assign post_title="Eastern Art" %}
  {% include landing-page-card.html %}

  {% assign post_image="/images/posts/homepagewesterncopy.jpg" %}
  {% assign post_url="/tag/western-art" %}
  {% assign post_title="Western Art" %}
  {% include landing-page-card.html %}


  {% assign post_image="/images/posts/homepagestatcopy.jpg" %}
  {% assign post_url="/tag/publications" %}
  {% assign post_title="Publications" %}
  {% include landing-page-card.html %}
</div>

</div>
