<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/' class='c-nav__link'>Home</a>
</li>

<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/tag/western-art' class='c-nav__link'>Western Art</a>
</li>

<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/tag/eastern-art' class='c-nav__link'>Eastern Art</a>
</li>

<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/tag/publications' class='c-nav__link'>Publications</a>
</li>

<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/contact' class='c-nav__link'>Contact</a>
</li>
